/* List Mode */
@media screen and (max-width: 441px) {
.project-list {
    display: block;
    padding: 20px !important;
  }
}
/* Grid Mode */
@media screen and (min-width: 442px) {
  .project-list {
    display: inline-grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 2rem;
    margin: 1% 0 1% 0;
    position: relative;
    box-sizing: border-box;
  }
}