/* Project List/Grid */
.project-list {
    display:inline-grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 2rem;
    margin: 1% 0 1% 0;
    position: absolute;
    box-sizing: border-box;
  }