$glass: rgba(255, 255, 255, 0.25);
$frosted-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
$frosted-border: 1px solid rgba(255, 255, 255, 0.18);
$rounded-corner: 0.5rem;


.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 5px;
    list-style: none !important;
}

.grid-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    list-style: none !important;
}

p {
    text-align: center !important;
}

.techCard {
    min-height: fit-content !important;
    min-width: fit-content !important;
    transition: all 0.2s ease-in-out;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translate3d(0, 0, 0);
    ;
    backface-visibility: hidden;
    padding-bottom: 0;
}

@media (hover: hover) and (pointer: fine) {
    .techCard:hover {
        transform: scale(1.050) translate3d(0, 0, 0);
        ;
    }
}

// when in mobile add padding below the description div
@media screen and (max-width: 767px) {
    .description {
        padding-bottom: 1rem !important;
    }
}

#cardTitle {
    font-weight: bold;
}

.project-button {
    border-radius: 0.5rem;
}

#typing-text::after {
    content: '|';
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}