$glass: rgba(255, 255, 255, 0.25);
$frosted-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
$frosted-border: 1px solid rgba(255, 255, 255, 0.18);
$rounded-corner: 0.5rem;

/* Contact Page */

.contactLink {
    padding-right: 1rem;
}

.contactPage {
    box-sizing: border-box;
}

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

div.contactPage {
    margin: auto 10px !important;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1200px;
}

.contact-button {
    border-radius: 50% !important;
    background-color: white;
    color: inherit;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: all 0.2s ease-in-out;
    -webkit-font-smoothing: subpixel-antialiased;
    // transform: translate3d(0, 0, 0);;
    border: 1px solid black !important;
    // box-shadow: $frosted-shadow;
    // border: $frosted-border;
}

body.dark-mode .contact-button {
    background-color: white !important;
    color: black !important; // Adjust text color for contrast
}

.contact-button:hover {
    transform: scale(1.050) translate3d(0, 0, 0);
    ;
}

.dev-icon,
.github-icon,
.x-icon,
.threads-icon {
    color: #000000 !important;
    width: 28px !important;
}

.mastodon-icon {
    color: #563ACC !important;
    width: 28px !important;
}

.bluesky-icon {
    color: #0085FF !important;
    width: 28px !important;
}

.linkedIn-icon {
    color: #0077B5 !important;
    width: 28px !important;
}