.projectCard {
    min-height: 400px !important;
    transition: all .2s ease-in-out; 
}
@media(hover: hover) and (pointer: fine) {
    .projectCard:hover {
        transform: scale(1.1);  
        backdrop-filter: none;
    }
}

#cardTitle {
    font-weight: bold;
}