.projectCard {
    min-height: 400px !important;
    transition: all .2s ease-in-out; 
}
@media(hover: hover) and (pointer: fine) {
    .projectCard:hover {
        transition: all .2s ease-in-out; 
    }  
}

#cardTitle {
    font-weight: bold;
}