$glass: rgba(255, 255, 255, 0.25);
$frosted-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.7);
$frosted-border: 1px solid rgba(255, 255, 255, 0.18);
$rounded-corner: 16px;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    font-family: "IBM Plex Sans", sans-serif !important;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    // background-size: 300% 300%;
    // background-image: linear-gradient(to right,
    //         rgba(59, 173, 227, 1) 0%,
    //         rgba(87, 111, 230, 1) 25%,
    //         rgba(152, 68, 183, 1) 51%,
    //         rgba(255, 53, 127, 1) 100%);
    // animation: AnimateBG 30s ease infinite;
    // background: #43cea2;
    /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #185a9d, #43cea2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #FBFBFD !important;
}

// @keyframes AnimateBG {
//     0% {
//         background-position: 0% 50%
//     }

//     50% {
//         background-position: 100% 50%
//     }

//     100% {
//         background-position: 0% 50%
//     }
// }

/* NavMenu */
a:hover,
.brand:hover {
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: #007bff !important;
    background-color: #fff;
}

.nav-link {
    border-radius: $rounded-corner;
    padding: 5px;
}

.brand {
    outline: none !important;
}

.NavContainer {
    margin-top: 72px;
}

/* Content Boxes */

div.homePage,
div.aboutPage,
div.projectDetails,
div.contactPage,
div.resumePage,
.notFoundPage,
.projectCard {
    width: auto;
    padding: 10px;
    height: auto;
    border-radius: $rounded-corner;
    background: #FFFFFF;
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    font-weight: 500;
    backdrop-filter: blur(10px);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.reference {
    width: auto;
    padding: 10px;
    height: auto;
    border-radius: $rounded-corner;
    background: $glass;
    backdrop-filter: blur(4px);
    box-shadow: $frosted-shadow;
    border: $frosted-border;
    overflow: hidden;
}

/* Main App styling */
.App {
    text-align: center;
}

/* Margin Fix */

div.aboutPage,
div.contactPage {
    margin: 15px;
}

/* Content Box changes when width is below 574 pixels wide */

@media screen and (max-width: 574px) {
    div.homePage {
        margin: auto 15px !important;
    }

    .navbar-link,
    .nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .iframe-container {
        // make the height of the iframe 100% of the screen
        height: 62vh;
    }
}

/* Content Box changes when width is below 1052 pixels wide */

@media screen and (max-width: 1052px) {
    .programming-image {
        width: 100%;
    }

    div.contactPage {
        margin: auto 10px !important;
    }

    .navbar-link,
    .nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .iframe-container {
        // make the height of the iframe 100% of the screen
        height: 62vh;
    }
}

/* Social Links */

.githubLink,
.devLink {
    color: #000000;
    padding-right: 10px;
}

.githubLink:hover,
.devLink:hover {
    color: #4b5362;
}

.linkedinLink {
    color: #0077b5;
    padding-right: 10px;
}

.linkedinLink:hover {
    color: #0094e0;
}