$glass: rgba(255, 255, 255, 0.25);
$frosted-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.7);
$frosted-border: 1px solid rgba(255, 255, 255, 0.18);
$rounded-corner: 0.5rem;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    font-family: "IBM Plex Sans", sans-serif !important;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFD !important;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a !important;
        color: #FBFBFD !important;
    }
}

/* NavMenu */
a:hover,
.brand:hover {
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: #004aad !important;
    transition: all ease-in-out 0.2s;
    background-color: #fff;
}

.text-white:hover {
    color: #004aad !important;
}

.nav-link {
    border-radius: 0.5rem;
    padding: 5px;
}

.brand {
    outline: none !important;
}

.navbar-custom {
    background-color: #004aad
}

.NavContainer {
    margin-top: 72px;
}

/* Content Boxes */

// .homePage,
// .aboutPage,
// .projectDetails,
// .contactPage,
// .resumePage,
// .notFoundPage,
.projectCard,
.techCard {
    width: auto;
    padding: 10px;
    height: auto;
    border-radius: $rounded-corner;
    background: #FFFFFF;
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    font-weight: 500;
    backdrop-filter: blur(10px);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.reference {
    width: auto;
    padding: 10px;
    height: auto;
    border-radius: $rounded-corner;
    background: $glass;
    backdrop-filter: blur(4px);
    box-shadow: $frosted-shadow;
    border: $frosted-border;
    overflow: hidden;
}

/* Main App styling */
.App {
    text-align: center;
}

/* Margin Fix */

div.aboutPage,
div.contactPage {
    margin: 15px;
}

/* Content Box changes when width is below 574 pixels wide */

@media screen and (max-width: 574px) {
    div.homePage {
        margin: auto 15px !important;
    }

    .navbar-link,
    .nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .iframe-container {
        // make the height of the iframe 100% of the screen
        height: 62vh;
    }
}

/* Content Box changes when width is below 1052 pixels wide */

@media screen and (max-width: 1052px) {
    .programming-image {
        width: 100%;
    }

    div.contactPage {
        margin: auto 10px !important;
    }

    .navbar-link,
    .nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .iframe-container {
        // make the height of the iframe 100% of the screen
        height: 62vh;
    }
}