$glass: rgba(255, 255, 255, 0.25);
$frosted-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.7);
$frosted-border: 1px solid rgba(255, 255, 255, 0.18);
$rounded-corner: 18px;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    font-family: "IBM Plex Sans", sans-serif !important;
    margin: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(to right,
            rgba(59, 173, 227, 1) 0%,
            rgba(87, 111, 230, 1) 25%,
            rgba(152, 68, 183, 1) 51%,
            rgba(255, 53, 127, 1) 100%);
    animation: AnimateBG 30s ease infinite;
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* NavMenu */
a:hover,
.brand:hover {
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: #007bff !important;
    background-color: #fff;
}

.nav-link {
    border-radius: $rounded-corner;
}

.brand {
    outline: none !important;
}

.NavContainer {
    margin-top: 72px;
}

/* Content Boxes */

div.homePage,
div.aboutPage,
div.projectDetails,
div.contactPage,
.notFoundPage,
.projectCard {
    width: auto;
    padding: 10px;
    height: auto;
    border-radius: $rounded-corner;
    background: $glass;
    backdrop-filter: blur(4px);
    box-shadow: $frosted-shadow;
    border: $frosted-border;
    overflow: hidden;
    font-weight: 500;
}

.reference {
    width: auto;
    padding: 10px;
    height: auto;
    border-radius: $rounded-corner;
    background: $glass;
    backdrop-filter: blur(4px);
    box-shadow: $frosted-shadow;
    border: $frosted-border;
    overflow: hidden;
}

/* Main App styling */
.App {
    text-align: center;
}

/* Margin Fix */

div.aboutPage,
div.contactPage {
    margin: 15px;
}

/* Content Box changes when width is below 574 pixels wide */

@media screen and (max-width: 574px) {
    div.homePage {
        margin: auto 15px !important;
    }
}

/* Content Box changes when width is below 1052 pixels wide */

@media screen and (max-width: 1052px) {
    .programming-image {
        width: 100%;
    }

    div.contactPage {
        margin: auto 10px !important;
    }
}

/* Social Links */

.githubLink,
.devLink {
    color: #000000;
    padding-right: 10px;
}

.githubLink:hover,
.devLink:hover {
    color: #4b5362;
}

.linkedinLink {
    color: #0077b5;
    padding-right: 10px;
}

.linkedinLink:hover {
    color: #0094e0;
}